<header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container app-header__container">
    <div class="govuk-header__logo app-header__logo">
      <span class="govuk-header__logotype">
        <span class="govuk-header__logotype-text">
           <a href="{{ params.homepageUrl | default("/") }}" class="govuk-header__link govuk-header__link--homepage">Chat playground</a>
        </span>
      </span>
    </div>
  </div>
</header>
