// GOV.UK Frontend options
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
$govuk-font-family: "Inter", "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

@import "node_modules/govuk-frontend/govuk/base";

$govuk-button-background-colour: govuk-colour("blue");
@import "node_modules/govuk-frontend/govuk/components/button/index";

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/all";

// Import GOV.UK Markdown styles
@import "govuk-markdown/x-govuk/all";

// Import GOV.UK Prototype Components
@import "govuk-prototype-components/x-govuk/all";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "govuk-page-masthead";
@import "components/button";
@import "components/table";
@import "components/hidden-link";

@import "chats/canvas.scss";

// Additional style helpers

.app-\!-inherit-colour {
  color: inherit !important;
}

.app-\!-font-family-tabular {
  @include govuk-font($size: false, $tabular: true);
}

.app-\!-font-family-tabular-bold {
  @include govuk-font($size: false, $tabular: true, $weight: bold);
}

.app-\!-no-wrap {
  white-space: nowrap !important;
}

.app-header {
  padding-top: 40px;
  padding-bottom: 10px;
  background-color: #144e81;

  .govuk-header__container {
    border-bottom-width: 0;
    margin-bottom: 0;
  }
}

.svg-container {
  max-width: 500px;
}

.chat-output {
  border: 2px solid $govuk-border-colour;
  margin-bottom: govuk-spacing(8);
}


code, pre {
  font-family: Söhne Mono, Monaco, Andale Mono, Ubuntu Mono, monospace !important
}

.message {
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(2);

  p, ul, ol {
    max-width: 31em;
  }

  pre {
    overflow: scroll;
    padding: govuk-spacing(2);
    background: govuk-colour("black");
    color: govuk-colour("white");
    @include govuk-font($size: 16);
  }

  > :last-child,
  &:last-child {
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
  }

  &::before {
    font-size: 16px;
    color: #10403c;
    background: #bfe3e0;
    text-transform: uppercase;
    font-weight: bold;
    padding: govuk-spacing(1) govuk-spacing(2);
    margin-bottom: govuk-spacing(2);
    display: inline-block;
  }

  &--user {
    &::before {
      content: 'You';
    }
  }

  &--person2 {
    &::before {
      content: 'Person 2';
    }
  }

  &--person1 {
    &::before {
      content: 'Person 1';
      color: #144e81;
      background: #d2e2f1;
    }

    background-color: govuk-colour("light-grey");
  }

  &--assistant {
    &::before {
      content: 'Bot';
      color: #144e81;
      background: #d2e2f1;
    }

    background-color: govuk-colour("light-grey");
  }
}
