// GOV.UK Frontend options
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/all";

// Import GOV.UK Markdown styles
@import "govuk-markdown/x-govuk/all";

// Import GOV.UK Prototype Components
@import "govuk-prototype-components/x-govuk/all";

// Email styles
@import "email.scss";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "govuk-page-masthead";
@import "components/button";
@import "components/hidden-link";

// Additional style helpers

.app-\!-inherit-colour {
  color: inherit !important;
}

.app-\!-font-family-tabular {
  @include govuk-font($size: false, $tabular: true);
}

.app-\!-font-family-tabular-bold {
  @include govuk-font($size: false, $tabular: true, $weight: bold);
}

.app-\!-no-wrap {
  white-space: nowrap !important;
}

.chat-output {
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(8);
  border-radius: govuk-spacing(1);
  border: 1px solid $govuk-border-colour;
}

.message {
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(2);

  > :last-child {
    margin-bottom: 0;
  }

  &--user {
    &::before {
      content: 'You';
      font-size: 16px;
      color: #10403c;
      background: #bfe3e0;
      text-transform: uppercase;
      font-weight: bold;
      padding: govuk-spacing(1) govuk-spacing(2);
      margin-bottom: govuk-spacing(2);
      display: inline-block;
    }
  }

  &--assistant {
    &::before {
      content: 'Bot';
      font-size: 16px;
      color: #144e81;
      background: #d2e2f1;
      text-transform: uppercase;
      font-weight: bold;
      padding: govuk-spacing(1) govuk-spacing(2);
      margin-bottom: govuk-spacing(2);
      display: inline-block;
    }
    background-color: govuk-colour("light-grey");
  }
}
