{% extends "layouts/default.html" %}
{% set title = prompt.name + " chat" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">{{ title }}</h2>
      <p>{{ prompt.description }}</p>

      {{ govukDetails({
        summaryText: "System prompt",
        html: "<pre>" + chatAgent.systemMessage + "</pre>"
      }) }}

      <div
        id="chat-output"
        class="chat-output govuk-body"
        {% if (chatAgent.messages.length == 0) %}style="display: none"{% endif %}
      >
        {% for m in chatAgent.messages %}
          <div class="message message--user">{{ m.messageHtml | safe }}</div>
          <div class="message message--assistant">{{ m.html | safe }}</div>
        {% endfor %}
      </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form
          method="post"
          data-endpoint="/chat/{{ type }}/{{ chatId }}/stream"
          class="app-chat-form"
        >
        {{ govukTextarea({
          id: "chat",
          name: "chat",
          label: {
            text: "Message",
            classes: "govuk-label--m"
          },
          rows: 4
        }) }}

        {{ govukButton({
          text: "Send message",
          classes: "govuk-visually-hidden"
        }) }}
      </form>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
