{% extends "layouts/default.html" %}
{% set title = "Chat" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-xl">{{ title }}</h2>
      <div id="chat-output" class="chat-output govuk-body">
        <div class="message message--assistant">
          <p>Hello. How can I help?</p>
        </div>
        {% if data.chats[chatId] and data.chats[chatId].messages | length %}
          {% for message in data.chats[chatId].messages %}
            <div class="message message--user">{{ message.requestHtml | safe }}</div>
            <div class="message message--assistant">{{ message.messageHtml | safe }}</div>
          {% endfor %}
        {% endif %}
      </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" data-endpoint="/chat/{{ type }}/{{ chatId }}/stream">
        {{ govukTextarea({
          id: "chat",
          name: "chat",
          label: {
            text: "Message",
            classes: "govuk-label--m"
          },
          rows: 4
        }) }}

        {{ govukButton({
          text: "Send message",
          classes: "govuk-visually-hidden"
        }) }}
      </form>
      </div>
    </div>
    </div>
  </div>

  <script>
    const endpoint = document.querySelector('form').getAttribute('data-endpoint')
    const chatOutput = document.getElementById('chat-output')

    // method to send a message to the server
    const sendMessage = async () => {
      const message = document.getElementById('chat').value
      const response = await fetch(endpoint, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ message })
      })

      const json = await response.json()
      document.getElementById('chat-output').innerHTML += `<div class="message message--user">${json.requestHtml}</div>`
      document.getElementById('chat-output').innerHTML += `<div class="message message--assistant">${json.messageHtml}</div>`
    }

    // when I hit enter, submit the form
    document.getElementById('chat').addEventListener('keyup', (event) => {
      // dont submit the form if the enter key is being modified
      if (event.shiftKey || event.ctrlKey || event.altKey) {
        return
      }

      if (event.keyCode === 13) {
        event.preventDefault()
        streamChat()
        document.getElementById('chat').value = ''
      }
    })

    // when I submit the form, send the message
    document.querySelector('form').addEventListener('submit', (event) => {
      event.preventDefault()
      streamChat()
    })

    // method to use the fetch api to stream responses from a server
    const streamChat = async () => {
      const response = await fetch(endpoint, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          message: document.getElementById('chat').value.replace(/\n+$/, '')
        })
      })

      const user = document.createElement('div')
      user.classList.add('message')
      user.classList.add('message--user')
      chatOutput.appendChild(user)

      const assistant = document.createElement('div')
      assistant.classList.add('message')
      assistant.classList.add('message--assistant')
      chatOutput.appendChild(assistant)

      const reader = response.body.getReader()

      while (true) {
        const { done, value } = await reader.read()

        if (done) {
          break
        }

        const message = new TextDecoder('utf-8').decode(value)
        try {
          const json = JSON.parse(message)
          user.innerHTML = `<p>${json.requestHtml}</p>`
          assistant.innerHTML = `<p>${json.messageHtml}</p>`
          window.scrollTo(0, document.body.scrollHeight)
        } catch (e) {
          console.log(e)
        }
      }
    }
  </script>

{% endblock %}
